* {
    font-family: "SF-Pro-Text";
    font-size: 14px;
}


window {
    margin: 0px;  
    border: none;
    border-radius: 10px;
    background-color: #0b1215;
    
}

#entry:hover{ 
    -wofi-activate-on-click: true;
    background-color: #1f2a2e;
    border-radius: 6px;
    
}

#input {
    margin: 10px;
    border: none;
    padding: 8px;
    border-radius: 8px;
    background-color: #121b1f;
    color: #fff6f6;
}

#entry {
    padding: 6px;
    margin: 4px;
    border-radius: 6px;
    color: #fff6f6;
    background-color: transparent;
}

#entry:selected {
    background-color: #1f2a2e;
    border-radius: 6px;
}

#text {
    margin-left: 10px;
}

image {
    margin-left: 5px;
    margin-right: 10px;
}

