


window {
	background: rgba(11, 18, 21, 0.923);
	border-radius: 15px;
	border-style: none;
	border-width: 1px;
	min-height: 20px;
	/* margin: 0 0 10px 0; */
}



#box {
  /* Define attributes of the box surrounding icons here */
  padding: 1px;
}

#active {
	/* This is to underline the button representing the currently active window */
	border-bottom: solid 1px;
	border-radius: 10px;
	border-color: rgba(255, 255, 255, 0.3)
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #999;
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: #eee;
  font-size: 5px;
}

button:hover {
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 2px;
}

button:focus {
	box-shadow: none;
}
